# `teachdb` - A free, in-memory database for facilitating hands-on, basic SQL instruction in a notebook environment

By: [Freestack Initiative](https://github.com/freestackinitiative)

This notebook is a template environment that uses the `teachdb` package from the Freestack Initiative. It generates an in-memory database, using `DuckDB`, that can be queried using `SQL` magic in Jupyter Notebooks.

To install `teachdb` in your own environment, run:
```
pip install git+https://github.com/freestackinitiative/teachingdb.git
```

The code below can be used in any notebook environment to cover all the necessary steps to get started with `teachdb`. Simply run the following two cells and use the `%sql or %%sql` magic commands in subsequent cells to run your query.

Install `TeachDB`:

In [ ]:
%%capture --no-stderr
%pip install git+https://github.com/freestackinitiative/teachingdb.git

Setup the `TeachDB` connection:

In [ ]:
from teachdb import TeachDB

# Initialize the database(s)
db = TeachDB(database=["sales_cog_opex", "ds_salaries"]) # Loads in two databases from our library
# Set configurations for notebook
db.setup_notebook() # You can pass in optional configuration for setting up a pandas notebook
# Set up the SQL Magic in our notebook in order to write queries directly in the cells
connection = db.connection
%sql connection

Connected to `teachdb` from the Freestack Initiative

## Viewing all of the tables available in the `teachdb` database

The query below lists all of the tables available in the `teachdb` database:

In [ ]:
%%sql

SELECT
  table_name,
  table_schema,
  table_catalog,
  table_type
FROM
  information_schema.tables

      table_name table_schema table_catalog  table_type
0       salesman         main        memory  BASE TABLE
1       customer         main        memory  BASE TABLE
2  order_details         main        memory  BASE TABLE
3          foods         main        memory  BASE TABLE
4        company         main        memory  BASE TABLE
5         movies         main        memory  BASE TABLE
6      boxoffice         main        memory  BASE TABLE
7      employees         main        memory  BASE TABLE

## Viewing data from the `movies` table:

In [ ]:
%%sql

SELECT *
FROM movies

    Id                Title        Director  Year  Length_minutes
0    1            Toy Story   John Lasseter  1995              81
1    2         A Bug's Life   John Lasseter  1998              95
2    3          Toy Story 2   John Lasseter  1999              93
3    4       Monsters, Inc.     Pete Docter  2001              92
4    5         Finding Nemo  Andrew Stanton  2003             107
5    6      The Incredibles       Brad Bird  2004             116
6    7                 Cars   John Lasseter  2006             117
7    8          Ratatouille       Brad Bird  2007             115
8    9               WALL-E  Andrew Stanton  2008             104
9   10                   Up     Pete Docter  2009             101
10  11          Toy Story 3     Lee Unkrich  2010             103
11  12               Cars 2   John Lasseter  2011             120
12  13                Brave  Brenda Chapman  2012             102
13  14  Monsters University     Dan Scanlon  2013             110